<IfModule mod_headers.c>
    Header set Content-Security-Policy "default-src 'self'; connect-src 'self' http://127.0.0.1:8000 http://172.21.23.57:8000; script-src 'self' 'unsafe-eval' https://cdn.tailwindcss.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://cdn.tailwindcss.com; font-src 'self' https://cdnjs.cloudflare.com data:;"
</IfModule>